@import "tailwindcss";

.logo,.playfair{
  font-family: "Playfair Display";
}

.istok-web{
  font-family: "Istok Web", sans-serif;
}

.dancing{
   font-family: "Dancing Script"
}

@theme{
  --color-wedding-black: #131414; 
  --color-wedding-gray: #2A292C; 
  --color-wedding-brown: #9F7C60; 
  --color-wedding-brown-darker: #604b39;
  --color-wedding-deep-brown: #52493D;
  --color-wedding-light-gray: #7E7E80;
  --color-wedding-champagne: #D1C9BE; 

 --breakpoint-nav: 1360px; 
}

